/* Header font */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { 
    h1 { @apply font-header;
    } 
}